---
layout: layout.njk
title: Brad Cornes
---
<main>
  <h2>Elsewhere</h2>
  <ul>
    <li><a href="https://github.com/bradlc" class="link">GitHub</a></li>
    <li><a href="https://twitter.com/bradlc" class="link">Twitter</a></li>
  </ul>

  <h2>Projects</h2>
  <ul>
    <li><a href="https://marketplace.visualstudio.com/items?itemName=bradlc.vscode-tailwindcss" class="link">Tailwind CSS IntelliSense</a></li>
  </ul>
</main>
