<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% set css %}{% include "style.css" %}{% endset %}
    <style>{{ css | cssmin | safe }}</style>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "email": "mailto:hello@bradley.dev",
        "worksFor": "https://parall.ax",
        "jobTitle": "Web Developer",
        "name": "Brad Cornes",
        "gender": "male",
        "url": "https://bradley.dev",
        "sameAs": [
          "https://github.com/bradlc",
          "https://twitter.com/bradlc"
        ]
      }
    </script>
  </head>
  <body>
    <header>
      <h1>
        <img src="/img/me.jpg" alt="Brad Cornes" width="50" height="50" class="rounded block bg-black">
      </h1>
    </header>
    {{ content | safe }}
  </body>
</html>
